.banner {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: 50% 100%;;
}
.card {
  height: 200px;
  width: 500px;
  border-radius: 3px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
